@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
    background: #001C35;
    color: #DFF6FF;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.content-box{
    margin: 0px 150px;
    padding: 100px 0px;
}