@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: grey ; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #47B5FF; 
}

@media screen and (max-width: 425px) {
    .app {
        background-color: lightblue;
    }
}

.app{
    background: #001C35;
    color: #DFF6FF;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.content-box p{
    margin-bottom: 20px;
}

.content-box{
    margin: 0px 150px;
    padding: 100px 0px;
    height: 100vh;
    /* overflow-y: auto; */
}

#navbar{
    animation: dropAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 999;
}

@keyframes dropAnimation {
    0% {
        transform: translate3d(0, -100px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.loaderBorder{
    border: 15px solid #001C35;
    animation: spin 3.6s;
    animation-iteration-count: 1;
}

@keyframes spin {
    0%{
        border: 15px solid #001C35;
    }
    25% {
        border: 15px solid #001C35;
        border-top: 15px solid #47B5FF;
    }
    50% {
        border: 15px solid #001C35;
        border-top: 15px solid #47B5FF;
        border-right: 15px solid #47B5FF;
    }
    75% {
        border: 15px solid #001C35;
        border-top: 15px solid #47B5FF;
        border-right: 15px solid #47B5FF;
        border-bottom: 15px solid #47B5FF;
    }
    100%{
        border: 15px solid #47B5FF;
    }
}

.content-box{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rightpanel{
    border-left: 2px dashed white;
}

.leftpanel{
    border-right: 2px dashed white;
}